<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")

</head>
<body>
    @*@Html.Partial("_HorizontalMenu")*@

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
